*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.windowQuiz {
    border-radius: 5px;
    overflow: hidden;
}
.quiz-header{
    width: 600px;
    height: 400px;
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

.ulListQuestions{
    min-width: auto;
    margin-left: 20px;
}
.ulListQuestions>li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

h2{
    font-size: 3em;
}
.answerqestion{
    font-size: 2em;
    align-items: center;
    display:flex;
}
.ulListQuestions>li:hover {
    text-decoration: underline;
}
.inputQuestion{
    margin-right: 10px;
    max-width: 90%;
    width: 20px;
    height: 20px;
}

.questionText{
    margin-bottom: 15px;
}

.btnSub{
    width: 100%;
    text-align: center;
    background: #EE5A24;
    border: 0;
    padding: 15px;
    color: white;
}

.btnSub:hover{
    cursor: pointer;
    background: #c64a1c;

}
